@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,700,400&subset=latin,latin-ext);

textarea.form-paper-control {
    height: auto;
    box-sizing: border-box;
    resize: none;
}
.form-paper-control {
    background-color: #f5f8fa;
    border: none;
    border-radius: 0;
    border-color: white; //for transition
    height: 36px;
    padding: 6px 12px;
    width: 100%;
    font: 15px/25px "Open Sans",sans-serif;
}
textarea.form-paper-control {
    padding: 6px 12px 8px;
}

.form-paper-control {
    background-color: #fff;
}

input[type=text].form-paper-control, 
textarea.form-paper-control {
    &:focus {
        background-color: #EDFFED;
        color: #000;
        overflow-y: hidden;

        border: medium none;
        border-color: #68aa68;
        border-style: none none solid;
        border-width: 0 0 2px;
        padding-bottom: 4px;

        transition: border .5s ease-out;
        transition: border-color .5s ease-out;
    }
}
textarea.form-paper-control {
    &:focus {
        border-width: 0 0 2px;
        padding-bottom: 6px;
    }
}

legend input[type=text] {
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}

label {
    cursor: pointer;
}

.panel-heading h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 75%;
    padding-top: 8px;
    font-weight: bold;
    text-transform: uppercase;
}

